<% form_for :session, :url => sessions_path do |f| %>
  <div class="form-item">
    <%= f.label :peoplesoft_num, "Peoplesoft Number" %><br>
    <%= f.text_field :peoplesoft_num %>
  </div>
  <div class="form-item">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div><br>
  <div id="submit-button">
    <%= f.submit %>
  </div>
<% end %>
