<% form_for @hour do |f| %>
  <%= error_messages_for 'hour' %>
  <div class="form-item">
    <%= f.label :event, "Event Name", :class => "label" %>
    <%= f.text_field :event, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :hours, "Number of Hours", :class => "label" %>
    <%= f.text_field :hours, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :date, "Date of Event", :class => "label" %>
    <%= f.text_field :date, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :area_of_service, "Area of Service", :class => "label" %>
    <%= f.select :area_of_service, ['Campus', 'Community', 'Fraternity', 'National', 'Outside Hour'], :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :description, "Description (optional)", :class => "label" %>
    <%= f.text_area :description, :rows => 4, :class => "field" %>
  </div>
  <div class="submit-button">
    <%= f.submit "Done!" %>
  </div>
<% end %>
