<% form_for @user do |f| %>
  <%= f.error_messages %>
  
  <div class="form-item">
    <%= f.label :first_name, "First Name", :class => "label" %>
    <%= f.text_field :first_name, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :last_name, "Last Name", :class => "label" %>
    <%= f.text_field :last_name, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :status, "Status", :class => "label" %>
    <%= f.select :status, ["Active", "Associate", "Pledge", "Brother in class", "Sabbatical"], :blank => true, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :email, "Email", :class => "label" %>
    <%= f.text_field :email, :class => "field" %>
  </div>  
  <div class="form-item">
    <%= f.label :peoplesoft_num, "Peoplesoft Number", :class => "label" %>
    <% if params[:action] == 'new' %>
      <%= f.text_field :peoplesoft_num, :class => "field" %>
    <% elsif params[:action] == 'create' %>
      <%= f.text_field :peoplesoft_num, :class => "field" %>
    <% else %>
      <%= f.text_field :peoplesoft_num, :readonly => true, :class => "field" %>
    <% end %>
  </div>
  <div class="form-item">
    <%= f.label :password, "Password", :class => "label" %>
    <%= f.password_field :password, :class => "field" %>
  </div>
  <div class="form-item">
    <%= f.label :password_confirmation, "Confirm Password", :class => "label" %>
    <%= f.password_field :password_confirmation, :class => "field" %>
  </div>
  <div class="submit-button">
    <%= f.submit @button_text %>
  </div>
<% end %>
