<div class="user-list">

  <%= will_paginate %> <!-- Generates page listings for hour lists -->

  <%  @users.each do |user| %>
      <ul class="user">
        <li class="name">
            <div class="first-name"><%= user.first_name %></div>
            <div class="last-name"><%= user.last_name %></div>
        </li>
        <div class="user-info">
          <li class="status">Status: <%= user.status || "None specified" %></li>
          <li class="user-hours">
            <div class="hour-count">Hours: <%= hour_count(user) %></div>
            <div class="hours-link"><%= link_to 'View Listing', :controller => :hours, :action => :index, :id => user.id %></div>
           </li>
          <li class="email">Email: <%= user.email %></li>
        </div>
      </ul>
  <% end %>
  
  <%= will_paginate %> <!-- Generates page listings for hour lists -->
  
</div>
