<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>APO Hour Site</title>
    <%= stylesheet_link_tag 'Mobile/mobile'%>
  </head>
  <body>
    <ul class="navbar">
    <% if current_user.nil? %>
      <li><%= link_to "Register", new_user_path %></li>
      <li><%= link_to "Login", login_path %></li>
    <% else %>
      <li>Hi <%= current_user.first_name %></li>
      <li><%= link_to "Profile", edit_user_path(current_user) %>
      <li><%= link_to "Hours", hours_path %>
      <li><%= link_to "Log out", logout_path %></li>
    <% end %>
    </ul>
    
    <% flash.each do |key, value| %>
      <div class="flash-<%= key %>"><%= value %></div>
    <% end %>
    <div id="yield"><%= yield -%></div>
  </body>
</html>
